<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <% unless request.original_fullpath == '/portfolios' %>
        <%= link_to "View All Portfolios", portfolios_path %> |
      <% end %>

      <a href="#">Back to top</a>
    </p>
    <p>
      <%= copyright_generator %>
    </p>
  </div>
</footer>