<h1>About Me</h1>

<hr>

<p>With over four years of development experience, I've found that in most cases, communication is flawed and is not evident between the client and developer. All too often, developers fail to pursue consistent communication with clients, thereby causing product flaws that fail to reach the goals sought after by the customer and end user.</p>

<p>For this reason, I choose to break the mold and utilize a pattern that focuses on clear communication and transparent design implementations. With products I take on, I strive to craft applications according to client specifications and give updates on a regular consistent basis. By doing so, I know I can ensure that the product is aligning with the client's goals and expectations are met. In this way, the final product is the right product, delivered on time, and on the right budget.</p>