<main role="main" class="flex-content">
  <div class="mast-spacer-three"></div>

  <div class="app-card-container">
    <div class="card">
      <h1>Would you like to work together?</h1>

      <hr>

      <div class="row">
        <div class="col-md-5 contact-details">
          <h3>Address</h3>
          <p>681 W 920 N, Orem, UT 84057</p>

          <h3>Phone</h3>
          <p><%= number_to_phone "8018507115" %></p>

          <h3>Email</h3>
          <p><a href="mailto:michaeljh7@gmail.com?subject=PortfolioContact" "email me">Send me an email</a></p>
        </div>

        <div class="col-md-7">
          <iframe class="map-shadow" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3042.2847255679867!2d-111.71443568476553!3d40.313838069815105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d8527c20cc34f%3A0x1d44c040fb7c3233!2s681+W+920+N%2C+Orem%2C+UT+84057!5e0!3m2!1sen!2sus!4v1515280473423" width="500" height="400" frameborder="0" style="border:1px solid grey" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="mast-spacer-one"></div>
</main>