<div class="mast-spacer-150"></div>

<div class="app-card-container screen-width-set">
  <div class="card">
    <h1>Would you like to work together?</h1>

    <hr>

    <div class="row">
      <div class="col-md-4 pl-5 contact-details">
        <h3>Address</h3>
        <p>Orem, UT 84057</p>

        <h3>Phone</h3>
        <p><%= number_to_phone "8018507115" %></p>

        <h3>Email</h3>
        <p><a href="mailto:michaeljh7@gmail.com?subject=PortfolioContact" "email me">Send me an email</a></p>
      </div>

      <div class="col-md-8">
        <iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24338.665212902488!2d-111.73021141405128!3d40.31276317365383!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d8494cac850f9%3A0x8c1ee35c1a4239a7!2sOrem%2C+UT+84057!5e0!3m2!1sen!2sus!4v1527283849553" width="600" height="450" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<div class="mast-spacer-50"></div>