<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>

  <hr>

  <p class="lead">Software development is my passion and the development process should never be a secret! With each project I take on, I make it my goal to deliver well crafted products every time and to ensure that all production stages are expounded thoroughly with clear and complete communication.</p>

  <p class="lead">
    <%= link_to "About Me", about_me_path, class:"btn btn-lg btn-secondary" %>
  </p>
</div>